{% extends "base.html" %}
{% block title %}profile{% endblock %}
{% block content %}
<h1>your profile</h1>
<img src="{{ user.profile.photo.url }}">
<p>user {{user.username}}</p>

<a href="{% url 'edit' %}">edit</a>
<p ><a href="{% url 'password_change'%}">change password</a></p>
<p >your posts</p>
{% if user.images_created.all %}
    {% for image in user.images_created.all %}
    <img src="{{image.image.url}}" alt="change this">
    {% endfor %}
{% else %}
   <p>You have no posts, start here <a href="{% url 'add_photo' %}">add a post</a></p>
   {% endif %}
{% endblock %}

